.user-card-full {
  overflow: hidden
}

.card-user-name {
  color: #000;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background-color: rgba(0,0,0,.03);
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.user-profile-avatar {
  border-radius: 50%;
  width: 50%;
  border: 3px solid #fff;
}

.card .card-block p {
  line-height: 25px
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}