html, body, #root, .App {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}

.home-logo {
    width: 50%;
}

.card {
    border-radius: 10px !important;
    box-shadow: grey 0 10px 12px -10px !important;
    border: none !important;
}

.card-header {
    border: none !important;
    border-radius: 10px 10px 0 0 !important;
}

.card-footer {
    border: none !important;
}

/*Utils*/
.btn-groupomania {
    background: #F26764;
    border: 2px solid #F26764 !important;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 14px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.btn-round {
    border-radius: 10px;
}

.btn-groupomania:hover {
    background-color: #FFFFFF;
    border: 2px solid #F26764;
    color: #F26764;
}

.btn-groupomania-second {
    background: #fff;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 14px;
}

.btn-groupomania-second:hover {
    background: #f7f7f7;
}