.post-user-avatar {
    width: 2em;
    margin-right: 0.5em;
}

.post-user-link {
    color: #F26764;
    text-decoration: none;
    font-weight: 600;
}

.post-user-link:hover {
    color: #F26764;
    text-decoration: underline;
}

.post-card-body {
    padding: 0.3em 0.6em;
}

.post-card-title {
    margin: 0;
}

.post-card-date {
    font-size: 12px;
}

.card-link {
    flex: 1;
    margin: 0 0.3em 0 0.3em;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.post-footer {
    padding: .5rem 1rem;
}

.post-btn {
    border: none;
    color: #F26764;
    background-color: unset;
}

.post-ellipsis-btn {
    border-radius: 50%;
}

.post-delete-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.post-delete-button:hover {
    background-color: rgba(0,0,0,.03);
}

.likes-counter {
    padding: 0;
    margin: 0 0 0 5px;
}